<ul>
    <% @users.each do |user| %>
        <li><%= image_tag user.avatar.variant(resize: "60x60!") %><%= link_to user.name, user_path(user) %> <%= render partial: 'shared/friend_request_button', locals: {user: user} %></li>
    <% end %>
</ul>

<%# really need to fix the querying here, bigtime n+1 %>